{% extends 'base.html.twig' %}

{% block title %}Register | SEM Keyword Tool{% endblock %}

{% block body %}
    

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <h1>Register</h1>
                <hr>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    </div>
{% endblock %}
