{% extends 'base.html.twig' %}

{% block title %}Register | SEM Keyword Tool
{% endblock %}

{% block body %}
	<div class="row align-items-center h-100"  style="margin: 0px">
		<div class="col-12 col-md-4 mx-auto text-center">
			<h1 class="m-5">Register</h1>
				<hr>
                
				{{ form_start(registrationForm) }}
                <div class="input-group mb-2">
                    {{form_errors(registrationForm.email)}}
					<span class="input-group-text">
						<i class="bi bi-person" title="Mail address"></i>
					</span>
					{{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'E-Mail'}}) }}
				</div>

                <div class="input-group mb-2">
                    {{form_errors(registrationForm.plainPassword)}}
					<span class="input-group-text">
						<i class="bi bi-key" title="Password"></i>
					</span>
					{{ form_widget(registrationForm.plainPassword, { 'attr': {'placeholder': 'Password'}}) }}
				</div>

				<div class="d-grid gap-2">
					<button class="btn btn-primary" type="submit">
						<i class="bi bi-arrow-bar-right"></i>
						Register</button>
				</div>
				{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
